/** @format */

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/FontsFree-Net-SFProText-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

body,
ul,
h1,
h2,
h3,
h4,
p,
button {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

:root {
	--font-family: 'Gilroy', sans-serif;
	--second-family: 'SF Pro Text', sans-serif;
	--third-family: 'Inter', sans-serif;
	--white-color: rgb(249, 249, 249);
	--black-color: rgb(38, 38, 38);
	--black-color-background: rgb(31, 31, 31);

	font-family: var(--font-family);
	background-color: rgb(20, 20, 20);
	padding: 20px 20px 40px 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
