/** @format */
.container_logo {
	display: flex;
	gap: 4px;
	margin-bottom: 40px;
}

.icon_logo {
	width: 42px;
	height: 17px;
}

.text_logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: var(--white-color);
}

.main_text {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: var(--white-color);
}

.main_text_ext {
	color: rgb(227, 227, 227, 0.5);
}

.field_container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 20px;
}

.field {
	position: relative;
	width: 295px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 0 0 0 14px;
	border-radius: 12px;
	background-color: var(--black-color);
	color: rgb(104, 104, 104);
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: -0.24px;
}

.field_input {
	flex: 1;
	height: 100%;
	padding-right: 12px;
	background-color: var(--black-color);
	border-radius: 0 12px 12px 0;
	border: none;
	outline: none;
	color: var(--white-color);
	font-weight: 500;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.02em;
}

.field_input::placeholder {
	color: var(--white-color);
}

.empty_field {
	width: 295px;
	height: 44px;
}

.action_container {
	display: flex;
	align-items: center;
	gap: 14px;
}

.button_action {
	padding: 12px 29px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: var(--white-color);
	border: 1px solid var(--white-color);
	color: var(--black-color-background);
	font-weight: 700;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: 0.02em;
	cursor: pointer;
}

.button_action_login {
	padding: 12px 45px;
}

.button_action:hover {
	color: var(--white-color);
	background-color: var(--black-color-background);
	border-color: rgba(249, 249, 249, 0.2);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_hide_password {
	position: absolute;
	top: 13px;
	right: 16px;
	width: 18px;
	height: 18px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon_button_hide_password {
	width: 18px;
	height: 18px;
	fill: transparent;
	stroke: var(--white-color);
}

.link_to_other_action {
	display: block;
	color: rgb(104, 104, 104);
	font-weight: 500;
	font-size: 12px;
	line-height: 117%;
	letter-spacing: -0.02em;
	text-decoration: underline;
}

.link_to_other_action:hover {
	color: var(--white-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field_error {
	border: 1px solid rgb(233, 5, 22);
}

.field_success {
	border: 1px solid rgb(48, 185, 77);
}

.err_message {
	position: absolute;
	background-color: var(--black-color-background);
	color: rgb(233, 5, 22);
	bottom: -1px;
	left: 14px;
	padding: 0 4px;
	transform: translateY(100%);
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: -0.02em;
	z-index: 100;
}

.err_success {
	position: absolute;
	color: rgb(48, 185, 77);
	bottom: 0;
	left: 14px;
	transform: translateY(100%);
	border: none;
	border-radius: 12px;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: -0.02em;
	z-index: 100;
}

.icon_status {
	position: absolute;
	top: 13px;
	right: 16px;
	width: 18px;
	height: 18px;
}

@media screen and (max-width: 767px) {
	.text_logo {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.main_text {
		width: 444px;
		margin-bottom: 40px;
		font-size: 64px;
		line-height: 94%;
		letter-spacing: 0.02em;
		color: var(--white-color);
	}

	.container_logo {
		margin-bottom: 157px;
	}

	.field_container {
		gap: 14px;
		margin-bottom: 82px;
	}

	.field_input {
		font-size: 14px;
		line-height: 129%;
	}

	.field {
		width: 472px;
		height: 50px;
	}

	.empty_field {
		width: 472px;
		height: 50px;
	}

	.button_action {
		height: 52px;
		padding: 16px 54px;
		font-size: 20px;
		line-height: 100%;
	}

	.button_action_login {
		padding: 16px 54px;
	}

	.link_to_other_action {
		font-size: 14px;
		line-height: 129%;
	}

	.button_hide_password {
		top: 15px;
		right: 18px;
		width: 20px;
		height: 20px;
	}

	.icon_button_hide_password {
		width: 20px;
		height: 20px;
	}

	.icon_status {
		top: 15px;
		right: 18px;
		width: 20px;
		height: 20px;
	}

	.err_success {
		font-size: 12px;
		line-height: 117%;
	}

	.err_message {
		font-size: 12px;
		line-height: 117%;
	}
}

@media screen and (min-width: 1280px) {
	.container_logo {
		margin-bottom: 107px;
	}
}
