/** @format */

.icon_logo {
	width: 42px;
	height: 17px;
	margin-right: 180px;
}

.user_logo_mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	border: 1px solid rgba(249, 249, 249, 0.2);
	border-radius: 50%;
	background: var(--black-color);
	cursor: default;

	color: var(--white-color);
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: -0.32px;
	text-align: center;
}

.burger_button {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

.menu_close {
	position: absolute;
	top: 34px;
	right: 40px;
	width: 28px;
	height: 28px;
	padding: 0;
	border: none;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
}

.menu_close:hover {
	background-color: var(--white-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_menu {
	width: 28px;
	height: 28px;
	stroke: var(--white-color);
}

.menu_close:hover .icon_menu {
	stroke: var(--black-color);
	transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_backdrop {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, 0.6);
}

.menu_container {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100vh;
	background-color: var(--black-color);
}

.link_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.link_to_other_action {
	padding-bottom: 4px;
	color: rgb(104, 104, 104);
	font-weight: 500;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: -0.02em;
	text-decoration: none;
}

.link_to_ext {
	color: var(--white-color);
	border-bottom: 3px solid rgb(79, 146, 247);
}

.button_logout {
	position: absolute;
	bottom: 40px;
	right: 54px;
	width: 91px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(249, 249, 249, 0.2);
	border-radius: 30px;
	background-color: transparent;
	color: var(--white-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.28px;
	cursor: pointer;
}

.button_logout:hover {
	color: var(--black-color-background);
	background-color: var(--white-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container_user_logo_tablet {
	display: none;
}

.link_container_tablet {
	display: none;
}

@media screen and (min-width: 768px) {
	.menu_backdrop {
		display: none;
	}

	.icon_logo {
		margin-right: 223px;
	}

	.burger_button {
		display: none;
	}

	.user_logo_mobile {
		display: none;
	}

	.container_user_logo_tablet {
		display: flex;
		gap: 16px;
	}

	.user_logo_tablet {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: 1px solid rgba(249, 249, 249, 0.2);
		border-radius: 50%;
		background: var(--black-color);
		cursor: default;

		color: var(--white-color);
		font-weight: 700;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: -0.02em;
	}

	.link_container_tablet {
		display: flex;
		flex-direction: row;
		gap: 32px;
		margin-right: 94px;
		margin-bottom: 8px;
	}

	.link_to_other_action {
		padding-bottom: 8px;
		font-size: 16px;
		line-height: 112%;
	}

	.button_logout_tablet {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(249, 249, 249, 0.2);
		border-radius: 30px;
		width: 114px;
		height: 42px;
		background-color: transparent;
		color: var(--white-color);
		font-weight: 700;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: 0.02em;
		cursor: pointer;
	}

	.button_logout_tablet:hover {
		color: var(--black-color-background);
		background-color: var(--white-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media screen and (min-width: 1280px) {
}
