/** @format */

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 21px;
	width: 295px;
	height: 211px;
	border-radius: 12px;
	background-color: rgb(38, 38, 38);
	padding: 20px 89px;
}

.progress_indicator_block {
	position: relative;
	width: 116px;
	height: 116px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.progress_indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(249, 249, 249);
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.36px;
}

.statistics_block_2 {
	display: flex;
	gap: 15px;
}

.progress_icon {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	background-color: rgb(48, 185, 77);
}

.total_page_read_block {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.total_page_read_procent {
	color: rgb(249, 249, 249);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.28px;
}

.total_page_read {
	color: rgb(104, 104, 104);
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: -0.2px;
}
