/** @format */

.main {
	display: flex;
	align-items: center;
	width: 335px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	border-radius: 15px;
	background-color: var(--black-color-background);
}

@media screen and (min-width: 768px) {
	.main {
		width: 704px;
		height: 74px;
		padding: 16px;
	}
}

@media screen and (min-width: 1280px) {
	.main {
		width: 1216px;
	}
}
